.card-img {
    height: 300px !important;
}

button {
    width: 90%;
    margin: auto;
}

:root {
    --dark-box-shadow: rgba(255, 255, 255, 0.7)
}

.darkShadow {
    box-shadow: var(--dark-box-shadow) !important;
}